@import '../../variables';
@import '../../extends';

%input-field-style {
  .MuiInputBase-root{
    width: 96%;
    border: 0;
    // max-width: 250px;
    text-transform: capitalize;
    border:  1px solid red;
    border: 0;
    border-radius: 100px;
    text-transform: capitalize;

    input {
      border: 0;
      padding: 8% 0 9% 8%;
      font-size: 1.375rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.18;
      letter-spacing: normal;
      text-align: left;
      color: #656565;
      font-weight: normal;
    }
  }
    .MuiFormLabel-root.Mui-focused {
      color: #656565;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #656565;
      border-width: 1px;
      margin: 0;
  }
  fieldset { border: 0; }
}
%input-field-lable {
  .MuiFormLabel-root {
    font-size: 1.375rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #656565;
    font-weight: normal;
  }
  .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(21px, 22px) scale(1);
    pointer-events: none;
  }
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(25px, -12px) scale(0.75);
  }
}

%errorExlamatoryIcon {
  i {
    margin-right: 5%;
    font-size: 1rem;
    color: #fd673a;
  }
}
%eyesIcon {
  margin-right: 5%;
    font-size: 1rem;
    color: #d0cfec;
}


















.user-page{
  height: 100%;
  .change-password-body {
    height: 82%;
  }
}

.user-page> .user-header-logo> .MuiPaper-elevation4{
    box-shadow: none;
}

.user-logo{
    width: 25px;
}

.user-header-logo{
  .MuiAppBar-root{
    .MuiToolbar-root{
      display: flex;
      justify-content: space-between;
  }
  }
}
.user-page-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetpassword-container{
    text-align: center;
    margin-top: 7.8vh;
}
.resetpassword-fields{
    flex-direction: column;
}
.resetpassword-container-text-one{  
  @extend %main-heading;
  text-transform: uppercase;
}

.resetpassword-container-text-two{
  @extend %sub-heading;
  span {
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.36px;
    text-align: center;
    color: #656565;
    font-family: helveticaNeueMedium;
  }
}

.change-password-elements-wrapper {
  width: 24.4%;
  margin: 6.1vh auto 0 auto;
    .resetNewPasswordContainer {
      border: 1px solid #c8c8c8;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @extend %input-field-lable;
      .MuiFormLabel-root {
        background: #ffffff;
      }
      .MuiFormControl-root {
        margin: 0;
        width: 100%;
        @extend %input-field-style;
      }
      .showPasswordEye {
        @extend %eyesIcon;
      }
      @extend %errorExlamatoryIcon;
    }
    .resetConfirmPasswordContainer {
      @extend %input-field-lable;
      // max-height: 81px;
      position: relative;
      margin: 2.8vh auto auto auto;
      border: 1px solid #c8c8c8;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .MuiFormLabel-root {
        background: #ffffff;
      }
      .MuiFormControl-root {
        margin: 0;
        width: 100%;
        @extend %input-field-style;
      }
      .showPasswordEye {
        @extend %eyesIcon;
      }
      @extend %errorExlamatoryIcon;


      .newAndConfPassNotMatchPopup {
        position: absolute;
        height: 100%;
        width: 317px;
        border-radius: 10px;
        right: -350px;
        top: -23px;
        padding: 10px;
        display: flex;
        color: #fd673a;
        text-align: left;
        box-shadow: 0px 0px 15px #00000029;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        z-index: 5;
      }
      .newAndConfPassNotMatchPopup::before {
        content: '';
        background: url('../../assets/icons/15-10-2019/Path 184.svg');
        background-position: center;
        position: absolute;
        background-size: cover;
        height: 20px;
        width: 20px;
        top: 44px;
        -webkit-transform: rotate(-54deg);
        transform: rotate(-134deg);
        left: -9px;
      }
    }
  



  .resetpassword-field-one, .resetpassword-field-two, .resetpassword-field-three{
    @extend %input-field-style;

  }
  .resetpassword-field-two {
    // margin: auto auto 2.4vh auto;
    @extend %input-field-style;
  }
}





  .bottom-text{
    p{
      text-align: center;
      margin-top: 6%;
      color:$color-skyBlue;
  }
}

 

li{
  padding-right:20px;
}

.change-bottom-text{
  text-align: center;
  nav{
    a{
      text-decoration: none;
      font-size: 1.125rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: #4e58a9;
      font-family: helveticaNeueMedium;
    }
  }
}

.change-password-container{
  position: fixed;
    bottom: 0px;
    width: 100%;
  .change-password-left-container{
      width: 50%;
      color: $color-lightGray;
      font-size: 15px;
      font-weight: 300;
      p{
        padding-left: 10px;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        font-family: "helveticaNeueLight";
      }
  }
  .change-password-right-container{
      width: 50%;
      display: flex;
      .change-password-list{
          display: flex;
          list-style: none;
          a{
            li{
                font-size: 15px;
                color: $color-lightGray;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                font-family: "helveticaNeueLight";
            }
        }
      }
  }
}

.change-password-field-two {
  width: 100%;
  margin: 5.4vh auto;
  position: relative;
  .MuiButtonBase-root {
    border: 0;
    border-radius: 100px;
    text-transform: capitalize;
    background-color: #41e590;
    position: relative;
    width: 100%;
    .MuiButton-label {
      font-family: helveticaNeueMedium;
      font-size: 1.375rem;
      font-weight: normal !important;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.18;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      padding: 6% 8%;

    }
  }
  .MuiButton-outlinedPrimary:hover {
    border: 0;
    background-color: #41e590;
  }
  .click-here-login-arrow-container{
    right: -143px;
    top: -20px;
    width: 130px;
    @extend %click-here-arrow-custome-style;
  }
  .recover-text{
    position: absolute;
    left: 62%;
    padding-bottom: 0px;
    padding-left: 5px;
    span{
      img{
        width: 25px;
        padding-top: 18px;
      }
    }
    p{
      padding-bottom: 30px;
      font-size: 12px;
      padding-left: 5px;
    }
  }
}

