@import '../../variables';
@import '../../extends';
@import '../../mixins';

/*------------------Media Queries Start--------------*/

@media screen and (max-width: 1279px) and (min-width: 320px) {
  
}

@media screen and (min-width: 1280px) and (max-width:1335px) {

  .forgot-password-body{
    .user-container{
      .user-container-text{
        .user-container-text-one{
          font-size: rem(45px);
        }
        .user-container-text-two{
          p{
            font-size: rem(18px);
          }
        }
      }
    }
  }
  .forgot-password-page{
    .password-field-one{
      .registration-input{
        input{
          font-size: rem(18px);
        }
      }
    }
    .password-field-two{
      .MuiButtonBase-root{
        .MuiButton-label{
          font-size: rem(20px);
        }
      }
    }
  }
  .ForgorPassEmailDoesExistPopup{
    font-size: rem(16px);
  }
  .forgotPasswordEnterValidEmailPopup{
    font-size: rem(16px);
  }

  .Forgot-bottom-text{
    nav{
      a{
        font-size: rem(18px);
      }
    }
  }

}

@media screen and (min-width: 1336px) and (max-width:1439px) {
  
  .forgot-password-body{
    .user-container{
      .user-container-text{
        .user-container-text-one{
          font-size: rem(35px);
        }
        .user-container-text-two{
          p{
            font-size: rem(14px);
          }
        }
      }
    }
  }
  .forgot-password-page{
    .password-field-one{
      .registration-input{
        input{
          font-size: rem(18px);
        }
      }
    }
    .password-field-two{
      .MuiButtonBase-root{
        .MuiButton-label{
          font-size: rem(16px);
        }
      }
    }
  }
  .ForgorPassEmailDoesExistPopup{
    font-size: rem(16px);
  }
  .forgotPasswordEnterValidEmailPopup{
    font-size: rem(16px);
  }

  .Forgot-bottom-text{
    nav{
      a{
        font-size: rem(15px);
      }
    }
  }

}

@media screen and (min-width: 1440px) and (max-width:1679px){
  
  .forgot-password-body{
    .user-container{
      .user-container-text{
        .user-container-text-one{
          font-size: rem(40px);
        }
        .user-container-text-two{
          p{
            font-size: rem(16px);
          }
        }
      }
    }
  }
  .forgot-password-page{
    .password-field-one{
      .registration-input{
        input{
          font-size: rem(20px);
        }
      }
    }
    .password-field-two{
      .MuiButtonBase-root{
        .MuiButton-label{
          font-size: rem(18px);
        }
      }
    }
  }
  .ForgorPassEmailDoesExistPopup{
    font-size: rem(17px);
  }
  .forgotPasswordEnterValidEmailPopup{
    font-size: rem(17px);
  }
  
  .Forgot-bottom-text{
    nav{
      a{
        font-size: rem(16px);
      }
    }
  }

}

@media (min-width: 1680px){
 
  .forgot-password-body{
    .user-container{
      .user-container-text{
        .user-container-text-one{
          font-size: rem(45px);
        }
        .user-container-text-two{
          p{
            font-size: rem(18px);
          }
        }
      }
    }
  }
  .forgot-password-page{
    .password-field-one{
      .registration-input{
        input{
          font-size: rem(22px);
        }
      }
    }
    .password-field-two{
      .MuiButtonBase-root{
        .MuiButton-label{
          font-size: rem(22px);
        }
      }
    }
  }
  .ForgorPassEmailDoesExistPopup{
    font-size: rem(18px);
  }
  .forgotPasswordEnterValidEmailPopup{
    font-size: rem(18px);
  }

  .Forgot-bottom-text{
    nav{
      a{
        font-size: rem(18px);
      }
    }
  }

}
 /*------------------Media Queries End--------------*/

%main-heading {
  // font-size: 2.8125rem;
  font-family: helveticaNeueCondensedBold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 0.9px;
  text-align: center;
  color: #656565;
  margin-bottom: 0.5%;
}
%sub-heading {
  font-family: helveticaNeueLight;
  // font-size: 1.125rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.36px;
  text-align: center;
  color: #656565;
}
.forgot-password-page {
  height: 100%;
  .forgot-password-body {
    height: 88%;
    .user-header-logo {
      .MuiAppBar-root {
        .MuiToolbar-root {
          display: flex;
          justify-content: space-between;
        }
      }
      .MuiAppBar-colorPrimary {
        background-color: $color-lightWhite;
      }
      .MuiPaper-elevation4 {
        box-shadow: none;
      }
    }
  }

}
.user-logo {
  width: 25px;
}
.user-container {
  text-align: center;
}
.user-fields {
  flex-direction: column;
}
.user-container-text {
  padding-right: 0px;
  padding-top: 7.8vh;
  p {
    align-items: center;
    justify-content: center;
  }
  span{
    width: 100%;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
.user-container-text-one {
  @extend %main-heading;
}
.user-container-text-two {
  @extend %sub-heading;
  color: #c8c8c8;

  p:nth-child(1) {
    margin-bottom: 4vh;
  }
}
.user-container-text-three {
  @extend %sub-heading;
  color: #c8c8c8;
  margin: 4.4vh 0;
}
.Click-here-to-recover-password {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: $color-lightGray;
  padding-left: 3px;
}

.forgot-password-page {
  .password-field-one {
    margin: 5.2vh auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    width: 28%;
    border-radius: 100px;
    border: 1px solid $color-lightGray;
    .MuiInputBase-root {
      width: 87%;
      input {
        padding: 6% 8%;
        // font-size: 1.125rem;
        font-weight: normal !important;
        font-family: helveticaNeueLight;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #656565;
      }
    }
    i {
      margin-right: 5%;
      font-size: 1.5rem;
      color: #fd673a;
    }
    .forgotPasswordEnterValidEmailPopup{
      position: absolute;
      height: 72%;
      width: 150px;
      border-radius: 10px;
      right: -181px;
      top: -5px;
      z-index: 17;
      background: #ffffff;
      padding: 10px;
      display: flex;
      color: #fd673a;
      text-align: left;
      box-shadow: 0px 0px 15px #00000029;
      align-items: center;
      justify-content: center;
    }
    .forgotPasswordEnterValidEmailPopup::before {
      content: '';
      background: url('../../assets/icons/15-10-2019/Path 184.svg');
      background-position: center;
      position: absolute;
      background-size: cover;
      height: 20px;
      width: 20px;
      top: 26px;
      -webkit-transform: rotate(-54deg);
      transform: rotate(-153deg);
      left: -7px;
    }
    .ForgorPassEmailDoesExistPopup {
      position: absolute;
      height: 100%;
      width: 55%;
      border-radius: 10px;
      right: -63%;
      top: -23px;
      padding: 10px;
      display: flex;
      color: #fd673a;
      text-align: left;
      box-shadow: 0px 0px 15px #00000029;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      z-index: 5;
      font-family: helveticaNeueLight;
    }
    .ForgorPassEmailDoesExistPopup::before {
      content: '';
      background: url('../../assets/icons/15-10-2019/Path 184.svg');
      background-position: center;
      position: absolute;
      background-size: cover;
      height: 20px;
      width: 20px;
      top: 44px;
      -webkit-transform: rotate(-54deg);
      transform: rotate(-134deg);
      left: -9px;
    }
  }
}



.password-field-two {
  width: 28.6%;
  margin: auto;
  position: relative;
  margin: 3.8vh auto 5.5vh auto;
  .MuiButtonBase-root {
    border-radius: 100px;
    width: 100%;
    position: relative;
    background: #41e590;
    padding: 0px;
    .MuiButton-label{
      text-transform: capitalize;
      padding: 6% 8%;
      // font-size: 1.25rem;
      font-family: 'helveticaNeueMedium';
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    };
  }
  .click-here-login-arrow-container{
    right: -143px;
    top: -20px;
    width: 130px;
    @extend %click-here-arrow-custome-style;
  }
  .request-text {
    position: absolute;
    left: 62%;
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .MuiButton-outlinedPrimary:hover {
    background-color: $color-green;
    color: $color-white;
    border: none;
  }
}
.bottom-text1 {
  p {
    text-align: center;
    margin-top: 7%;
    color: $color-skyBlue;
  }
}

.Forgot-bottom-text {
  nav {
    text-align: center;
    a {
      text-decoration: none;
      // font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: center;
      color: #4e58a9;
      font-family: helveticaNeueMedium;
    }
  }
}


li {
  padding-right: 20px;
}

.forgot-password-footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  .forgot-password-left-container {
    width: 50%;
    color: $color-lightGray;
    font-size: 15px;
    // font-weight: 300;
    p {
      padding-left: 10px;
      font-size: 15px;
      // font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      font-family: "helveticaNeueLight";
    }
  }
  .forgot-password-right-container {
    width: 50%;
    display: flex;
    .forgot-list {
      display: flex;
      list-style: none;

      a {
        li {
          font-size: 15px;
          color: $color-lightGray;
          // font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          font-family: "helveticaNeueLight";
        }
      }
    }
  }
}
