@import '../../variables';
@import '../../mixins';

/*------------------Media Queries Start--------------*/

@media screen and (max-width: 1279px) and (min-width: 320px) {
  
}

@media screen and (min-width: 1280px) and (max-width:1335px) {
  .resetpwd-container-text{
    .resetpwd-container-text-one{
      font-size: rem(45px);
    }
    .resetpwd-container-text-two{
      font-size: rem(18px);
    }
  }
  .resetpwd-field-one, .resetpwd-field-two{
    .registration-input{
      .MuiInputBase-input{
        font-size: rem(16px);
      }
    }
  }
  .resetpwd-field-three{
    .MuiButton-outlined{
      .MuiButton-label{
        font-size: rem(20px);
      }
    }
    .txt-lbl{
      font-size: rem(16px);
    }
  }
  .reset-bottom-text{
    nav{
      a{
        font-size: rem(18px);
      }
    }
  }
}

@media screen and (min-width: 1336px) and (max-width:1439px) {
  .resetpwd-container-text{
    .resetpwd-container-text-one{
      font-size: rem(35px);
    }
    .resetpwd-container-text-two{
      font-size: rem(13px);
    }
  }
  .resetpwd-field-one, .resetpwd-field-two{
    .registration-input{
      .MuiInputBase-input{
        font-size: rem(16px);
      }
    }
  }
  .resetpwd-field-three{
    .MuiButton-outlined{
      .MuiButton-label{
        font-size: rem(16px);
      }
    }
    .txt-lbl{
      font-size: rem(14px);
    }
  }
  .reset-bottom-text{
    nav{
      a{
        font-size: rem(15px);
      }
    }
  }
}

@media screen and (min-width: 1440px) and (max-width:1679px){
  .resetpwd-container-text{
    .resetpwd-container-text-one{
      font-size: rem(40px);
    }
    .resetpwd-container-text-two{
      font-size: rem(16px);
    }
  }
  .resetpwd-field-one, .resetpwd-field-two{
    .registration-input{
      .MuiInputBase-input{
        font-size: rem(18px);
      }
    }
  }
  .resetpwd-field-three{
    .MuiButton-outlined{
      .MuiButton-label{
        font-size: rem(18px);
      }
    }
    .txt-lbl{
      font-size: rem(16px);
    }
  }
  .reset-bottom-text{
    nav{
      a{
        font-size: rem(16px);
      }
    }
  }
}

@media (min-width: 1680px){
  .resetpwd-container-text{
    .resetpwd-container-text-one{
      font-size: rem(45px);
    }
    .resetpwd-container-text-two{
      font-size: rem(18px);
    }
  }
  .resetpwd-field-one, .resetpwd-field-two{
    .registration-input{
      .MuiInputBase-input{
        font-size: rem(22px);
      }
    }
  }
  .resetpwd-field-three{
    .MuiButton-outlined{
      .MuiButton-label{
        font-size: rem(22px);
      }
    }
    .txt-lbl{
      font-size: rem(18px);
    }
  }
  .reset-bottom-text{
    nav{
      a{
        font-size: rem(18px);
      }
    }
  }
}
 /*------------------Media Queries End--------------*/


.user-page {
  .user-header-logo {
    .MuiAppBar-colorPrimary {
      background-color: $color-lightWhite;
    }
  }
}

.user-page>.user-header-logo>.MuiPaper-elevation4 {
  box-shadow: none;
}

.user-logo {
  width: 25px;
}

.user-header-logo {
  .MuiAppBar-root {
    .MuiToolbar-root {
      display: flex;
      justify-content: space-between;
    }
  }
}

.user-page-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetpwd-container {
  text-align: center;
  margin-top: 5%;
}

.resetpwd-fields {
  flex-direction: column;
}

.resetpwd-container-text-one {
  // font-weight: bolder;
  color: $color-thickGray;
  margin-top: 2%;
  font-family: helveticaNeueCondensedBold;
}

.resetpwd-container-text-two {
  color: $color-thickGray;
  font-family: helveticaNeueLight;
  span{
    font-family: helveticaNeueMedium;
  }
}

.resetpwd-container-text>p {
  margin-bottom: 0rem;
}

.resetpwd-field-one {
  width: 25%;
  margin: auto;
  position: relative;

  .MuiInputBase-root {
    margin-top: 2%;
    border: 1px solid $color-lightGray;
    padding: 9px 100px 9px 30px;
    border-radius: 30px;
    font-size: 15px;
    text-transform: capitalize;
    width: 100%;
  }



  .registration-input {
    position: relative;
    .MuiInputBase-input{
      font-family: helveticaNeueLight;
    }

  }

  i {
    position: absolute;
    top: 43%;
    // right: 40%;
    font-size: 1.3rem;
    top: 50%;
    line-height: 0.4rem;

  }
}

.resetpwd-field-two {
  width: 25%;
  position: relative;
  margin: auto;

  .MuiInputBase-root {
    margin-top: 5%;
    // margin-left: 38%;
    width: 100%;
    border: 1px solid $color-lightGray;
    padding: 9px 100px 9px 30px;
    border-radius: 30px;
    font-size: 15px;
    text-transform: capitalize;

  }

  i {
    position: absolute;
    top: 43%;
    // right: 40%;
    font-size: 1.3rem;
    top: 50%;
  }
}

.resetpwd-field-three {
  margin-top: 2%;
  // height: 50px;
  margin-top: 8%;
  width: 25%;
  margin: auto;
  position: relative;

  .MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 0px 80px;
    border-radius: 50px;
    background-color: $color-white;
    color: $color-white;
    // border: 1px solid $color-lightGray;
    // width: 24.4%;
    // margin-left: 491px;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    // font-weight: 600;
    text-transform: capitalize;
    background-color: $color-green;
    .MuiButton-label{
      font-family: helveticaNeueMedium;
    }

  }

  .MuiButton-outlinedPrimary:hover {
    background-color: $color-green !important;
  }
}

.resetpwd-field-three {
  .field-three {
    text-align: center;
  }
}




.resetpwd-field-three {
  button {
    .MuiButton-label {
      span {
        img {
          width: 26px;
          padding: 100px;
        }
      }
    }
  }
}

.resetpwd-field-three {


  .label-text {
    position: absolute;
    top: 13%;

    img {
      width: 36px;
      // padding-left: -1px;
      padding: 7px;
    }
  }

  .txt-lbl {
    margin-top: -5%;
    // margin-left: 65%;
    margin-left: 9%;
    position: absolute;
    color: $color-lightGray;
    width: 70%;
    font-family: helveticaNeueLight;
  }
}

// .resetpwd-field-three {
//   p {
//     margin-top: -6%;
//     margin-left: 65%;
//     font-size: 10px;
//     color: $color-lightGray;
//   }
// }

.bottom-text {
  p {
    text-align: center;
    margin-top: 6%;
    color: $color-skyBlue;
  }
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
}

.footercontainer {
  .leftcontainer {
    p {
      font-size: 13px;
      margin-left: 10px;
    }
  }
}

.footercontainer {
  .rightcontainer {
    .list {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      font-size: 10px;
    }
  }
}

li {
  padding-right: 20px;
}


.reset-bottom-text {
  margin-top: 4%;
  text-align: center;
  color: #4e58a9;

  nav {
    a {
      text-align: center;
      text-decoration: none;
      color: #4e58a9;
      font-family: helveticaNeueMedium;
    }
  }
}

.reset-password-footer-container {

  position: fixed;
  bottom: 0px;
  width: 100%;

  .reset-password-left-container {
    width: 50%;
    color: $color-lightGray;
    font-size: 15px;
    // font-weight: 300;

    p {
      padding-left: 10px;
      font-size: 15px;
      // font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      font-family: "helveticaNeueLight";
    }
  }

  .reset-password-right-container {
    width: 50%;
    display: flex;

    .reset-list {
      display: flex;
      list-style: none;

      a {
        li {
          font-size: 15px;
          color: $color-lightGray;
          // font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          font-family: "helveticaNeueLight";
        }
      }
    }
  }
}

.show-password-eye {
  color: $color-borderLightGray;
  cursor: pointer;
  right: 34px;
}