@import '../../variables';
@import '../../mixins';
@import '../../extends';



.companyDetailsComponent {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed #4e58a9;
    // margin: 8.4vh auto 2.8vh auto;
    border-radius: 8px;
    .crt-ticket-company-description{
     margin: 2% 5% 0 2%;
        .create-tckt-cmpny-img{
            img {
                width: 50px;
                // height: 6vh;
                margin-right: 10px;
            }
            .companyNameAndDescription{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 8px;
                .cmpName {
                    font-family: helveticaNeueMedium;
                    font-size: rem(25px);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.96;
                    letter-spacing: 0.5px;
                    text-align: left;
                    color: #656565;
                }
                .cmpDescription {
                    font-family: helveticaNeueLight;
                    font-size: rem(14px);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2;
                    letter-spacing: 0.24px;
                    text-align: left;
                    color: #c8c8c8;
                }
            }
        }
        .crte-tckt-drawer-company-details-edit {
            border: 1px solid red;
            margin: 0;
        }
        .companyEditIcon {
            // height: 3vh;
            width: 7%;
            margin-top: 2%;
            align-self: flex-start;
        }
    }
    .departmentAndTeamName{
        width:60%;
        font-family: "helveticaNeueLight";
        display: flex;
        align-items: center;
        font-size: rem(14px);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: 0.28px;
        text-align: left;
        color: #c8c8c8;
        margin-top: 4%;
        margin-left: 3%;
        p {
            white-space: nowrap;
        }
        label {
            height: 15px;
            margin: 0 10px;
            display: block;
            border-left: 1px solid #d0cfec;
        }
    }
}